@model LiteApp.ViewModels.AppViewModel
@foreach (var row in Model.CurrentPage.Rows)
{
    <div class="@row.ClassName">

        @foreach (var col in row.Cols)
                {
            <div class="@col.ClassName">

                @foreach (var module in col.Modules)
                {
                    @Html.Partial("_Module",
                   new LiteApp.ViewModels.ModuleViewModel
                   {
                       App = Model.App,
                       CurrentPage = Model.CurrentPage,
                       CurrentModule = module
                   })
                }
            </div>
        }
    </div>
}
